.card{
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 5px;
}

.card .header{
	display: flex;
	justify-content: center;
}

.header .title{
	flex: 1;
	padding: 5px;
}

.card .content{
	padding: 20px;
}

.card.red {
	.header{ color: #fff; background: #c62828;  }
	.content{ background: #f44336; }
}

.card.green {
	.header{ color: #fff; background: #2e7d32;  }
	.content{ background: #4caf50; }
}

.card.blue {
	.header{ color: #fff; background: #1565c0;  }
	.content{ background: #2196f3; }
}

.card.purple {
	.header{ color: #fff; background: #6a1b88;  }
	.content{ background: #9c27b0; }
}